@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');





/* HEADER ===================*/

main {
position: relative;
}

header {
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 999;
    box-shadow: 5px 5px 10px #b7b7b7;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

ul {
    list-style: none;
}

.wrapper h1:first-of-type {
    margin-top: 100px;

}

header ul {
    padding: 0;
    margin: auto;
    display: flex;
}

header li {
    list-style: none;
    text-align: center;
}

li.list {
    display: inline;
    width: 16.6666%;
    line-height: 5;
    font-size: 0.85rem;
    border-bottom: 3px solid white;
    box-sizing:border-box;
    font-family: "Roboto", "helvetica", "Sans-Serif";
    transition: all 0.5s ease-in-out;
}

li.list:hover {
    border-bottom: 3px solid green;

}

li.logo {
    width: 33.3333%;
    padding-top: 20.5px;
    font-size: 1.75rem;

}

li.logo a:hover {
    color: white;
}

li a {
    text-decoration: none;
    color: black;
    text-align: center;
    display: block;
    transition: all 0.25s ease-in-out;
}

.readmore {
    margin-top: 0.5rem;
    display: block;
    color:#ff5e42;
}

/* SEARCH ===============================================*/

.blank, .search {
  display: none;
}




/* MAIN ==================================================*/

main {
    background-color: #ededed;
}

.wrapper {
    padding: 0.5rem 1rem;
    box-sizing: border-box;
}

.body-content {
    padding: 3.5% 5%;
    box-sizing:border-box;
}

.section {
    margin-top: 1rem;
}

h1 {
    font-size: 1.25rem;
    padding: 1% 0 0.25rem 0;
    width: 150px;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 0.25rem;
    text-align: center;
    font-family: "Roboto", "helvetica", "Sans-Serif";
    border-bottom: 3px solid #ff5e42;

}

.container h1:nth-of-type(2) {
    width: 225px;
}


h2 {
    font-size: 1.25rem;
    padding: 0;
    margin: 0;
    font-family: "Roboto", "helvetica", "Sans-Serif";
    text-align: center;
    font-weight: 400;
}

h3, h4 {
    font-size: 0.8rem;
    padding: 0;
    margin: 0;
    font-family: "Roboto", "helvetica", "Sans-Serif";
    color: #848484;
    text-align: center;
    font-weight: 400;
}

h4 {
    margin-bottom: 0.5rem;
    color: #498fff;
}

.readmore a {
    font-family: "Roboto", "Helvetica", "Sans-Serif";
    color: #ff5e42;
    margin-top: 0.75rem;
    font-size: 15px;
}

.feature p, .rotate p, .two-by-two p {
    text-align: center;
    font-size: 15px;
    margin: 0.25rem 0;
    font-family: "Roboto", "helvetica", "Sans-Serif";
}

p , .back {
    text-align: left;
    font-family: "Roboto", "helvetica", "Sans-Serif";
}

p a {
    text-align: center;
    margin-top: 0.75rem;
}

.caption {
    margin-top: 0.25rem;
    font-size: 0.75rem;
    color: #92969b;
}

article {
    background-color: white;
    margin-bottom: 1.5rem;
    box-sizing:border-box;
    box-shadow: 5px 5px 10px #b7b7b7;
}

/* ARTICLE PAGE=================*/

.wrapper-article {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 0;
    padding: 125px 2.25rem 2rem 2.25rem;
    box-sizing:border-box;
    background-color: white;
}

.drop-cap {
    font-size: 2.75rem;
    float: left;
    padding: 0 2%;
    color: #ff5e42;
    border: 1px solid #ff5e42;
    margin-right: 0.25rem;
}

.wrapper-article h1 {
    text-align: left;
    margin: 0;
    padding: 0;
    margin-top: 1rem;
    border-bottom: 0;
    font-size: 2rem;
    width: 100%;
}

.wrapper-article h3, .wrapper-article h4 {
    text-align: left;
    display: inline;
    font-style: normal;
    font-weight: 400;
}

.wrapper-article h3 {
    color: black;
}

.wrapper-article h2 {
    margin-top: 1.5rem;
    font-size: 1.4rem;
    text-align: left;
}

.error {
    width: 300px;
    margin: auto;
    margin-top: 1rem;
}

h5 {
    font-family: "Roboto", "Helvetica", "Sans-Serif";
    margin: 0;
    font-size: 0.9rem;
    text-transform: uppercase;
    margin-top: 1rem;
}

.wrapper-article ul li {
    display: inline-block;
    font-size: 1.5rem;
}

.wrapper-article .fa-facebook-square {
    color: #3b5998;
}
.wrapper-article .fa-twitter-square {
    color: #1da1f2;
}
.wrapper-article .fa-pinterest-square {
    color: #bd081c;
}
.wrapper-article .fa-google-plus-square {
    color: #ea4335;
}

.wrapper-article ul {
    padding: 0;
    margin-top: 0.25rem;
}

.divider {
    color: black;
}

.points {
    padding: 0 2.5%;
}

ol {
    padding: 0;
    margin: auto;
    margin-bottom: 2rem;
}

ol li {
    font-family: "Roboto", "Helvetica", "Sans-Serif";
    margin: 1.25rem 0;
    padding-right: 2rem;
    padding: 2.5% 5%;
    box-sizing:border-box;
    list-style: none;
}

ol li:nth-of-type(odd) {
    background-color: #ededed;
}

ol li::before {
    font-size: 2rem;
}

.bold {
    font-weight: 700;
}

.row-one h2:nth-of-type(3) {
    text-align: center;
    font-weight: normal;
    margin-bottom: 1rem;
}

.ad {
    display: none;
}

.main {
    height: 100vh;
}

.container {
    padding-top: 100px;
}

.contact-container {
    padding-top: 100px;
}

.divider {
    text-align: center;
    color: #ff5e42;
    font-size: 1.25rem;
}

.gif {
    background-color: white;
    width: 307.2px;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 6rem;
    box-shadow: 5px 5px 10px #b7b7b7;
    position: relative;
}

.back {
    position: absolute;
    font-size: 1.5rem;
    text-align: center;
    top: 140px;
    left: 105px ;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
.back {
    opacity:0;
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    animation-delay: 2s;

    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:2s;
    -moz-animation-duration:2s;
    animation-duration:2s;
}

.thankyou-box {
    max-height: 300px;
    background-color: white;
    padding: 4rem 2rem;
    text-align: center;
    box-sizing:border-box;
    box-shadow: 5px 5px 10px #b7b7b7;
}

.thankyou-box h1 {
    margin-bottom: 0;
}


.thankyou-page {
    height: 100vh;
    padding: 17.5rem 0rem;
    max-width: 350px;
    margin: auto;
}

.button {
    background-color: #ff5e42;
    width: 150px;
    border: 1px solid #ff5e42;
    padding: 0.5rem 2rem;
    border-radius: 50px;
    font-family: "Roboto", "Helvetica", "Sans-Serif";
    display: block;
    box-sizing: border-box;
    color: white;
    margin: auto;
    margin-top: 2rem;
    cursor: pointer;
}

.button:hover {
    background-color: white;
    color: #ff5e42;
    border: 1px solid #ff5e42;
    cursor: pointer;
}




/* CONTACT */

.stopby {
    max-width: 450px;
    margin: auto;
    margin-bottom: 1.5rem;
}

.stopby h2 {
    text-align: center;
}

form h1 {
    margin-top: 0;
    margin-bottom: 1rem;
}

form h2 {
    margin-bottom: 0.75rem;
    font-size: 1rem;
}

.map {
    text-align: center;
    padding-bottom: 3rem;
}

.contact-container {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 4rem;
}

.contact-container form {
    width: 100%;
    display:block;
    max-width: 600px;
    max-height: 600px;
    margin: auto;
    padding: 1rem 1.5rem;
    background-color: white;
    box-sizing: border-box;
    box-shadow: 5px 5px 10px #b7b7b7;
}

textarea {
    outline: none;
    resize: none;
    height: 160px;
}

.contact-container input, .contact-container textarea {
width: 100%;
display: block;
background-color: white;
border: 0;
border-bottom: 2px solid black;
margin-bottom: 1rem;
}

form h2 {
    text-align: left;
}

.top h2 {
    font-size: 1rem;
}

button {
    outline: none;
    border: none;
    background-color: #ff5e42;
    width: 100px;
    height: 40px;
    border-radius: 50px;
    box-sizing:border-box;
    color: white;
}

button:hover {
    cursor: pointer;
    background-color: white;
    color:#ff5e42;
    border: 1px solid #ff5e42;
    box-sizing:border-box;
}

.top {
    margin: auto;
    max-width: 600px;
    max-height: 600px;
    padding: 1rem 1.5rem 0 1.5rem;
    margin-bottom: 1rem;
    flex: 0 0 48%;
    background-color: white;
    box-shadow: 5px 5px 10px #b7b7b7;
}

.map {
    height: 450px;
}

.top h1 {
    margin-top: 0;
}

.sources h2 {
    font-size: 1.25rem;
    margin-top: 2.25rem;
}


/* sign-up-form ================*/

.signup-form {
    background-image: url(../images/background.png);
    /* Background pattern from Subtle Patterns */
    padding: 2rem 3rem;
}

.signup-form h1 {
    border: none;
    width: 100%;
    margin-top: 0;
    color: white;
    font-size: 1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}

form {
    display: block;
    text-align: center;
}

.email {
    width: 100%;
    display: block;
    outline: none;
    border: none;
    line-height: 1.75rem;
}

input:focus {
    outline: none;
}

input.submit:hover {
    background-color: #bf4732;
    color: #c4c4c4;
    cursor: pointer;
}

.submit {
    background-color: #ff5e42;
    border-radius: 6px;
    margin-top: 1rem;
    padding: 2% 10%;
    border: 0;
    transition: all 0.25s ease-in-out;

}

::placeholder {
    padding-left: 2%;
    color: black;
}


div {
    box-sizing:border-box;
}

.two-by-two {
    display: flex;
    flex-flow: row wrap;
}

.two-by-two a {
    margin: 2%;
    flex: 1 0 46%;
}

.section:last-of-type {
    margin-bottom: 2rem;
}

.other-articles h1 {
    margin-top: 0;
    margin-bottom: 2rem;
    padding-top: 2.25rem;
}

.other-articles {
    background-image: url(../images/background2.png);
    /* Background pattern from Subtle Patterns */
    padding-bottom: 3rem;
}

.other-articles .two-by-two {
    padding-left: 2.25rem;
    padding-right: 2.25rem;

}

.other-sources {
    display: flex;
    flex-flow: row wrap;
}

.other-sources a {
    margin: 2%;
    flex: 1 0 46%;
}


/* FOOTER =====================*/

footer {
    background-color: #1c1c1c;
    padding-bottom: 2rem;
}


footer .social ul {
    text-align: center;
    padding: 0;
    width: 300px;
    margin: auto;
}

.social {
    padding: 1rem;
    background-color: #ededed;
}

.bottom {
    padding-top: 1rem;
}

.social a {
    color: #262626;
}

.bottom a {
    color: #686868;
    transition: all 0.4s ease-in-out;

}

.social a:hover {
    color: #ff5e42;

}

.bottom a:hover {
    text-decoration: underline;

}

footer h1 {
    display:none;
}

footer .social li {
    padding: 0 0.25rem;
    display: inline-block;
    font-size: 1.5rem;
}

footer .bottom ul {
    margin: 0;
    margin: auto;
    padding: 0;
    text-align: center;
}

.bottom li {
    font-family: "Roboto", "Helvetica", "Sans-Serif";
    font-weight: normal;
    margin: 0.5% 0;
    font-size: 0.75rem;
}

footer nav {
    margin-top: 1rem;
}

footer p {
    margin-top: 1rem;
    font-size: 0.75rem;
    color: #686868;
    text-align: center;
}

/* MANDATORY STUFF=======================================*/

img {
	max-width: 100%;
	height: auto;
    display: block;
}

iframe {
    height: 400px;
    width: 600px;
    max-width: 100%;
    max-height: 100%;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.visually-hidden { /*https://developer.yahoo.com/blogs/ydn/clip-hidden-content-better-accessibility-53456.html*/
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding:0 !important;
    border:0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}
body:hover .visually-hidden a, body:hover .visually-hidden input, body:hover .visually-hidden button { display: none !important; }

/* MEDIA QUERIES ==========================================*/

@media screen and (min-width:700px) {


    ul {
        max-width: 600px;
    }

    .wrapper {
        padding: 1% 3rem;
    }


    .sign-up form {
        width: 500px;
        margin: auto;
    }

    .feature {
        display: flex;
        flex-flow: row wrap;
    }

    .up-down {
        display: flex;
    }


    .feature .big {
        margin: 1%;
    }

    .big p {
        max-width: 400px;
        margin: auto;
    }

    .feature .small {
        flex: 1 0 48%;
    }

    .feature .small:nth-of-type(1) {
        margin-right: 1%;
    }

    .feature .small:nth-of-type(2) {
        margin-left: 1%;
    }

    .up-down {
        margin: 1%;
    }

    .rotate .small {
        border: 0;
        margin: 0;
        display: flex;
        flex-flow: row nowrap;
    }

    a:nth-of-type(even) .img {
        order: 2;
    }

    .rotate .img {
        flex: 1 0 50%;
    }

    .rotate .body-content {
        padding: 7%;
        flex: 1 0 50%;
        box-sizing:border-box;
    }

    .two-by-two {
        display: flex;
        flex-flow: row wrap;
    }

    .two-by-two a {
        flex: 1 0 23%;
        margin: 1%;
    }

        .two-by-two h2 {
        margin-bottom: 0;
    }

    .signup-form {
        padding: 2rem 6rem;
}

    .signup-form form {
        width: 350px;
        margin: auto;
}


.wrapper-article .two-by-two a {
    margin: 1%;
    flex: 0 0 23%;
}

.wrapper-article .two-by-two {
    max-width: 700px;
    margin: auto;
}

.article-content ol {
    max-width: 600px;
    display: flex;
    flex-flow: row wrap;
}

.article-content {
    max-width: 700px;
    margin: auto;
}

.article-content li {
    flex: 1 0 48%;
    margin: 0;
}


.article-content ol li {
    background-color: white;
}

.article-content ol li:nth-of-type(4n+2) {
    background-color: #ededed;
}

.article-content ol li:nth-of-type(4n+3) {
    background-color: #ededed;
}

.wrapper-article {
    max-width: 750px;
    margin: auto;
    padding-left: 5rem;
    padding-right: 5rem;
    box-sizing: border-box;
}

.other-articles .two-by-two {
    max-width: 700px;
    margin: auto;
    padding-left: 0rem;
    padding-right: 0rem;
}


}

@media screen and (min-width:1050px) {

    .wrapper {
        max-width: 1050px;
        margin: auto;

    }

    article {
        box-shadow: 5px 5px 10px #b7b7b7;
        box-sizing:border-box;
    }


    .feature {
        padding: 1%;
    }


    .feature .big {
        margin:0;
        flex: 1 0 65.35%;
    }

    .up-down {
        margin: 0;
        margin-left: 1%;
        flex-flow: column nowrap;
        flex: 1 0 31.65%;
        box-sizing:border-box;
    }

    .feature .small:nth-of-type(1) {
        margin-left:1%;
        margin-right: 0;
        margin-bottom: 2%;
    }

    .feature .small:nth-of-type(2) {
        margin-left: 1%;
        margin-top: 2%;
    }

    .feature img {
        max-height: 100%;
        max-width: 100%;
        display: block;
    }


    .big, .small {
        margin: 0;
        position: relative;
        box-sizing:border-box;
    }


    .big h2 {
        font-size: 2rem;
    }

    .feature p {
        display: none;
    }

    .feature h2, .feature h3 {
        color:white;
        font-weight: normal;
        transition: all 0.5s ease-in-out;
    }

    .feature h2 {
        margin-bottom: 0;
    }

    .rotate h4 {
        display: none;
    }

    .two-by-two h4 {
        color: #498fff;
    }


    .feature .body-content {
        position: absolute;
        box-sizing:border-box;
        background-color: rgba(0,0,0,0.25);
        width: 100%;
        padding: 1.5%;
        bottom: 10px;
        transition: all 0.5s ease-in-out;
    }

    .rotate h1, .rotate h2, .rotate h3, .rotate p, .rotate a{
        text-align: left;
    }


    .rotate {
        display: flex;
        flex-flow: row wrap;
    }

    .rotate .small {
        flex: 1 0 48%;
    }

    .rotate .small:nth-of-type(odd) {
        margin: 1% 1% 1% 0;
    }

    .rotate .small:nth-of-type(even) {
        margin: 1% 0 1% 1%;
    }

    .rotate .img {
        flex: 1 0 55%;
    }

    .rotate .body-content {
        padding: 2.2% 5%;
        flex: 1 0 45%;
        box-sizing:border-box;
    }

    footer {
        padding-top: 1rem;
        display: flex;
        flex-flow: row wrap;
    }

    .reverse {
        display: flex;
        flex-flow: row-reverse wrap;
    }

    .social {
        flex: 1 0 50%;
    }

    .bottom {
        flex: 1 0 50%;
    }

    .bottom ul {
        margin: 0;
        width: 100%;
        text-align: left;
    }

    footer nav {
        margin-top: 0;
    }


    footer h1 {
        display: block;
        border-bottom: none;
        margin-right: 0;
        margin-top: 0;
        padding: 0;
        text-align: right;
        color: white;
    }

    footer .social ul {
        text-align: right;
        margin-right:0;
    }

    footer .bottom {
        display: flex;
        flex-flow: row wrap;
    }



    footer .bottom li {
        display: block;
    }

    footer li a {
        text-align: left;
    }

    footer .bottom ul {
        margin: 0;
        flex: 0 0 25%;
}

    .bottom li {
        text-align: left;
    }


    .social a {
        color: white;
    }

    .reverse {
        max-width: 900px;
        flex: 0 0 100%;
        margin: auto;
    }

    .social {
        background-color: #1c1c1c;

    }

    footer p {
        text-align: center;
        flex: 1 0 100%;
        box-sizing: border-box;
    }

    /* article ================*/

    .wrapper-article {
        max-width: 1050px;
    }

    .article-content {
        max-width: 900px;
        margin: 0;
    }

    .flex-sample {
        display:flex;
    }

    .row-one {
        flex: 1 0 60%;
        margin: 0;
        margin-right: 5%;
    }

    .ad {
        display: block;
        margin: 0;
    }

    .ad p {
        margin-bottom: 0;

    }



.contact-container {
    width: 1050px;
    margin: auto;
    display:flex;
}

.contact-container form {
    margin: 1%;
    flex: 0 0 48%;

}

.map {
    padding-bottom: 0;
}


textarea {
    outline: none;
    resize: none;
    height: 275px;
}

.stopby {
    margin-bottom: 1rem;
}

.map {
    height: 450px;
}

.contact-container {
    padding-top: 10rem;
    padding-bottom: 7.5rem;
}

.top {
    margin: 1%;
}

.header {
  display: flex;
  max-width: 950px;
  margin: auto;
}

.blank {
  flex: 0 0 22.5%;
}

nav {
  flex: 1 0 55%;
}

.search {
  flex:0 0 22.5%;
}

.blank, .search {
  display: block;
}

.Search-box {
  max-width: 140px;
  transform: translateY(-100%);
  margin-top: 1.75rem;
  opacity: 0;
  border: 0;
  font-size: 0.75rem;
  border-bottom: 1px solid #ff5e42;
  transition: transform ease 500ms;
}

.Search-box:focus {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.fa-search {
  font-size: 1.25rem;
}

}
