@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,700|Lato:400,700|Raleway:400,700');



html {
	font-size: 16px;
}



body {
	margin: 1% 0;
	font-family: Lato,"Josefin Sans", Raleway,"arial";
	font-size: 1rem;
	text-align: center;
	 background-color: rgba(32,178,170, 0.5);

}

h1 { 
	font-size: 3rem;
 margin: 2%;

}

h2 {
	margin: 1% auto;
	font-weight: lighter;
	font-size: 1.3rem;
	font-style:italic;

}

img.main-photo {  
	width:50%; 
	display: block;
	margin: 2% auto;
	border : 1px solid grey;
}


a {
	margin: 2%; 
	width: 20%;
    -webkit-appearance: button;
    -moz-appearance: button;
  /*  appearance: button;*/
    text-decoration: none;
    color:black;
    line-height: 2rem;
    font-size: 1.2rem;

}
 

/*  responsiv image   */

img {
	max-width: 100%;
	height: auto;
	
}


/*----------------------media quary ----------*/


@media screen and (max-width: 800px) {

body {margin: 5%;
	padding-top: 5%;

}

img.main-photo {  
	width:80%; 
	display: block;
	margin: 15% auto;
	margin-bottom: 5%;
   border : 1px solid grey;
}


a {
	margin: 2%; 
	width: 20%;
    /*-webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;*/
    text-decoration: none;
    color:black;
    line-height: 1rem;
    font-size: 0.6rem;

}
h1 { 
	font-size: 1.5rem;
 margin: 2%;

}

h2 {margin: 3% auto;
	font-weight: lighter;
	font-size: 1rem;

}
 
}