@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,700|Lato:400,700|Raleway:400,700');


html {
	font-size: 16px;
}

body {
	margin: 0;
	padding: 0;
	font-family: Lato,"Josefin Sans", Raleway,"arial";
	font-size: 1rem;

}



h1 {
	font-size: 4rem;
	color: /*#2E8B57;*/#20B2AA;
	text-align: center;
	margin: 15px auto;
	position:relative;

}

h1 span { font-size: 1.5rem;
text-align: center;
font-weight: lighter;
position: absolute;
top:4rem;
padding:0 10px;
}

nav ul {
	list-style-type: none;
	padding-left: 0;
	margin-left: 0;
	text-align: center;
	margin: 0;
}


nav li {
	border: 1px solid #ccc;
	float: left;
	width: 16.666%;
	background:  #20B2AA;
	opacity: 0.7;
	box-sizing: border-box;

}

	nav a {
	text-decoration: none;
color: black;
font-size: 1rem;
line-height: 3rem;
text-transform: uppercase;
}




.social-logo {
	width: 20%;
	float: left;
	list-style-type: none;

}

.social-logo li {
	width: 25%;
	float: left;


}




.fa { 
	font-size: 30px;
	color:  #808080 ;
}

ul span {
	width: 100%;
}


.search-form {
	float: right;
	width: 25%;
	background-color: #808080 ;
	border-radius: 4px;
	margin-right:1rem;
	margin-top: 1rem;
	position: relative;



}

.search-field {
	position: absolute;
	line-height: 2rem;
	 font-size: 1.2rem;
  text-align: center;
  width: 95%;
  display: block;
  right: 1px;
  margin-right: 0;

}


.feature img {
	max-width: 100%;
	height: auto;
	margin:0 auto;
}


h2 { border-bottom: 1px solid  #808080 ;
	text-align: center;
	text-decoration: none;
color: black;
font-size: 1rem;
line-height: 1rem;
text-transform: uppercase;
font-weight: lighter;
margin-bottom: 30px;

}
h2 span {
	position: relative;
	top: 0.7rem;
	background-color: white;
 padding:0 3rem;
 color:#8B4513;
 
}


 .yoga-practice img {
	width: 48%;
	margin: 1%;
	float: left;


}	

	.section {
	width: 48%;
	margin: 1%;
	float: left;


}

h3 {
	font-size: 1.2rem;
		font-weight: lighter;
	text-align: center;
	font-family: Raleway, arial;
	margin: 3% 0;

}

h4 {
font-size: 1rem;
	text-align: center;
	margin: 5px 5px;
	font-weight: lighter;

}

h5 { 
font-size: .8rem;
font-weight: lighter;
font-style: italic; 
text-align: center;
margin: 10px 0;
}


footer {
	background-color: #20B2AA;/*#2E8B57;*/
	opacity: 0.7;
	clear: both;


}
footer ul {
	padding-left: 0;
}

 footer li {
 	 width: 25%;
float: left;
list-style: none;
margin-bottom: 10px;
text-align: center;

 }
 footer a {
 	text-transform: uppercase;
 	line-height: 2rem;
 	color: black;
 	list-style: none;
 	text-decoration: none;


 }
 
.third,.second {
	clear: both;

}

/*  clearfix   */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*  responsiv image   */

img {
	max-width: 100%;
	height: auto;
	
}


/*----------------------media quary ----------*/


@media screen and (max-width: 590px) {
	h1 {
		font-size: 3rem;
		position: relative;

	}

h1 span { font-size: 1rem;
text-align: center;
font-weight: lighter;
position: absolute;
top:2.8rem;
padding-right: 45px;
}


.search-field {
	line-height: .8rem;
 font-size: .7rem;
  text-align: center;
  width: 95%;
  display: block;
  
}

.social-logo {
	width: 30%;
	padding-left: 20px;
	
}

.fa { 
	font-size:3px;
}

nav li {
	border: 1px solid #ccc;
	float: left;
	width: 33.333%;
	/*background:  #20B2AA;*/
	opacity: 0.7;
	box-sizing: border-box;

}

	nav a {
	text-decoration: none;
color: black;
font-size: .5rem;
line-height: .8rem;
text-transform: uppercase;
}

 .yoga-practice img {
	width: 48%;
	margin: 1%;
	float: left;
}
h2 {
	margin-bottom: 15px;
	margin-top: 0;

}

  h2 span { 
  	font-size: .8rem;
  	padding: 0 0.7rem;
   }



 h3 {
	font-size: .8rem;
	text-align: center;
	margin: 5px 5px;

}

/*
.section h3 {
	font-size: .8rem;
	text-align: center;
	font-style: italic;
	margin: 5px 5px;

}*/
h4 {
	font-size:.7rem;
font-weight: lighter;
text-align: center;
margin: 3px 5px;

}

.section {
	width: 98%;
	margin: 1%;
	float: left;

}

h5 { 
font-size: .6rem;
font-weight: lighter;
font-style: italic; 
text-align: center;
margin:5px;
}

footer li {
 	 width: 50%;
float: left;
list-style: none;
margin-bottom: 10px;


 }
 footer a {
 	text-transform: uppercase;
 	line-height: 1.5em;
 	font-size: .7rem;
 	color: black;
 	list-style: none;
 	text-decoration: none;
 	text-align: center;
 	
 	
 }

}



/*------------------media quary ----------------------------------*/
@media screen and (max-width:1200px)  {

	.fa {
		font-size: 20px;
	}


	nav a {
	text-decoration: none;
color: black;
font-size: .9rem;
line-height: 2.5rem;
text-transform: uppercase;
}


	}