@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700|Roboto:400,500,700');


body {
	margin: 5% 10%;
}

em {
	text-decoration: none;
	font-style: normal;
}

/* ##### HEADER ##### */

header img {
	border-radius: 50%;
	display: block;
	margin: auto;
}

.center_header *,
.right_header * {
	text-align: center;
}

.right_header li {
	font-family: "Roboto";
	font-size: 400;
}

.name {
	margin-top: 3rem;
	font-weight: 700;
	font-size: 2rem;
	font-family: "Roboto Condensed";
}

.headline {
	font-weight: 400;
	font-size: 1.5rem;
	font-family: "Roboto";
}

header span {
	display: block;
	text-align: center;
}

header ul {
	margin: 0 auto;
	list-style: none;
	margin-left: 0;
	margin-top: 3rem;
	padding-left: 0;
}

	header li {
		font-weight: 400;
	}

/* ##### CONTENT ##### */

h1 {
	font-family: "Roboto";
}

main dt {
	margin-top: 25px;
	margin-bottom: 10px;
	font-size: 1.5rem;
	font-family: "Roboto";
}

main dd {
	display: list-item;
	list-style: disc;
	line-height: 1.5;
	
}

main h2, main h3 {
	font-weight: 700;
	
}

.work_date {
	font-weight: 300;
	font-size: 0.75rem;
}

.me {
	line-height: 1.5;
	margin-top: 30px;
	margin-bottom: 20px;
	
	font-weight: 400;
}

.me p {
	margin: 0;
	margin-bottom: 10px;
	text-align: justify;
}

/* ##### PROJECTS BOXES ##### */

.project img{
	float: left;
	width: 75px;
	height: 75px;
	border-radius: 25%;
	border: 1px solid #ccc ;
	margin-top: 1em;
}

.project a {
	text-decoration: none;
	color: #919191;	
}

.project a:visited {
	color: #454545;
}

.project em {
	font-family: "Roboto";
}

.project {
	margin-bottom: 10px;
	margin-top: 20px;
}

.project p {
	margin: 0;
	margin-top: 10px;
	line-height: 1.5;
	text-align: justify;
	
}

.project_company {
	font-weight: 300;
	font-size: 0.6rem;
}

.project_content {
	padding-left: 90px;
}

/* ##### RESPONSIVENESS ##### */

img {
	max-width: 100%;
	height: auto;
}



@media screen and (max-width: 1000px) {

	body {
		text-align: center;
		margin: 10%;
	}

	.name {
		margin-top: 1rem;
	}



	.work_date {
		font-weight: 300;
		font-size: 0.75rem;
		display: block;
	}

	.project * {
		text-align: left;
	}

	dd {
		text-align: left;
	}

	header ul {
		margin-top: 1rem;
	}

	img {
		min-height: 20px;
		min-width: 20px;
	}
}


