img {
  margin: auto;
}

.main-article .article-img {
  margin: -1.5rem -3rem;
  z-index: -1;
}

.rel-article {
  background-color: white;
  margin: 1rem 10%;
}
.rel-article .category {
  position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background-color: hsla(25, 100%, 97%, 0.65);
}
main {
  padding: 1rem;
}
h2 {
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 2rem;
}
.main-article {
  background-color: white;
  padding: .5rem 2rem 2rem;
  z-index: 0;
}
.main-article p:first-of-type {
  margin-top: 0;
}
.main-article .article-container {
  background-color: white;
  padding: 2.75rem 10px 10px;
  max-width: 600px;
  margin: auto;
  position: relative;
  top: -1rem;
}
.main-article .title h3 {
  font-size: 1.5rem;
}
.main-article .category {
  border-bottom: 1px solid #ddd;
  position: absolute;
  left: 1.5rem;
  right: 1.5rem;
  top: .25rem;
}
.main-article .category a {
  position: relative;
  top: .65rem;
  background-color: white;
  color: #aaa;
  font-size: .9rem;
  padding: 0 8px;
}

.main-article .tags {
  text-align: left;
  text-transform: uppercase;
  font-size: .9rem;
  letter-spacing: 1px;
  margin-top: .5rem;
}
.main-article .tags a {
  margin-left: 5px;
  font-size: .9rem;
}
.main-article .img {
  margin-top: 1rem;
}
.main-article p {
  line-height: 1.5;
}
.main-article p:first-of-type::first-letter {
  font-family: "Playfair display", serif;
  font-size: 4.75rem;
  float: left;
  line-height: 3.75rem;
  padding: 0 5px;
  margin-top: -10px;
  margin: 0;
}

.main-article h4 {
  border-bottom: 1px solid #888;
  margin: 1.5rem 0;
  font-size: 1.1rem;
}
.main-article .heading4 {
  background-color: white;
  color: #555;
  padding-right: 8px;
  /* padding-left: 2px; */
  position: relative;
  top: .65rem;
  margin-right: 1rem;
}
.main-article .date {
  text-align: center;
  letter-spacing: 1px;
  color: #999;
  margin-top: .75rem;
  font-style: italic;
}
.share-social ul {
  margin: 0;
}
.share-social li {
  display: inline-block;
  padding: 5px;
  margin-right: 8px;
  font-size: 1.5rem;
  /* border: 1px solid #ccc; */
}
.share-social a {
  color: hsla(8, 65%, 90%, 1);
}
.share-social li:hover {
  background-color: #ccc;
}
.share-social li:hover a {
  color: white;
}
.share {
  margin: 1rem 0 .5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #888;
  font-style: italic;
}
/* relarticle ==================================== */



/* MEDIA QUERIES ================ */
@media screen and (max-width:330px) {
  .rel-article {
    margin: 1rem 8%;
  }
}

@media screen and (min-width:540px) {
  .related-posts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    margin: 0;
  }
  .related-posts h2 {
    grid-column: span 2;
  }
  .rel-article {
    margin: 0;
  }
  h2 {
    margin-bottom: 1rem;
  }
}

@media screen and (min-width:620px) {
  main {
    padding: 1rem 2rem;
  }
  .main-article .article-img {
    margin: -1.5rem -4rem;
    z-index: -1;
  }
  .main-article .article-container {
    top: -2.5rem;
    padding: 2.75rem 10% 10px;
    max-width: 75%;
  }
}

@media screen and (min-width:770px) {
  main {
    padding: 1rem 4rem;
  }
  .main-article .article-img {
    margin: -1.5rem -6rem;
    z-index: -1;
  }
}

@media screen and (min-width:869px) {
  main {
    padding: 1rem 6rem;
  }
  .main-article .article-img {
    margin: -1.5rem -10rem;
    z-index: -1;
  }
  .main-article .title h3 {
    font-size: 1.75rem;
  }
  .main-article .article-container {
    padding: 2.75rem 12% 10px;
    max-width: 72%;
  }
  .main-article {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

@media screen and (min-width:1115px) {
  main {
    padding: 1rem 10%;
  }
  .main-article .article-img {
    margin: -1.5rem -8rem;
    z-index: -1;
  }
  .main-article .article-container {
    max-width: 55%;
    top: -3rem;
  }
  .main-article {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 2.5rem;
  }
}

@media screen and (min-width:1200px) {
  main {
    padding: 1rem 15%;
  }
  .main-article .article-container {
    max-width: 60%;
  }
  .main-article .article-img {
    margin: -1rem auto;
    z-index: -1;
    max-width: 110%;
  }
  .main-article {
    padding-left: 12%;
    padding-right: 12%;
    padding-top: 0;
  }
}

@media screen and (min-width:1500px) {
  main {
    padding: 1rem 18%;
  }
  .main-article {
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 0;
  }
}

@media screen and (min-width:1700px) {
  main {
    padding: 1rem 20%;
  }
}

@media screen and (min-width:1900px) {
  .related-posts {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .related-posts h2 {
    grid-column: span 4;
  }
}

@media screen and (min-width:2000px) {
  main {
    padding: 1rem 25%;
  }
  .main-article {
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 0;
  }
}
