/*
Created by Diego. Last version: 12/02/2018 - Vancouver/BC
*/


/* fonts from Google Fonts - https://fonts.google.com/ */
@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway:700');

* {
  box-sizing: border-box;
}
img {
  max-width: 100%;
  height: auto;
}
.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}
.clearfix:after {
  clear: both;
}
a {
  outline: none;
  color: #81c483;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #333;
  outline: none;
}
body {
  font-family: "Montserrat", arial, sans-serif;
  font-size: 1.05rem;
  color:#333;
  position: relative;

}
body:before{
  /* background from Hero Patterns - http://www.heropatterns.com/ */
  background: url("../images/bg.svg") #f5f5f5 repeat ;
  content : "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity : 0.02;
  z-index: -1;
}
h1,
h2 {
  font-family: "Raleway", Helvetica, sans-serif;
  font-weight:700;
}
h3.
h4 {
  font-family: "Montserrat", arial, sans-serif;
}

/*icons from fontawesome - https://fontawesome.com */
.fa-fw{
  margin-right: 5px;
}
.wrapper {
  margin: 0 auto;
  max-width: 1100px;
  box-shadow: 2px 0px 5px rgba(74, 74, 74, 0.075), -2px 0px 5px rgba(74, 74, 74, 0.075);
  background: #fff;
}
header{
  text-align: center;
  padding:1.5rem 0.5rem ;
  border-bottom:1px solid rgba(74, 74, 74, 0.075);
}
header h1{
  margin-bottom: .7rem;
}
header h2{
  margin:0;
}
.profile-pic {
  border-radius:50%;
  width:150px;
  border:1px solid rgba(74, 74, 74, 0.075);
}
nav{
  float: left;
  z-index: 2;
}
.menu {
  margin:0;
  padding: 2rem 0 0 2rem;
  list-style: none;


  text-align: right;
}
.menu li {
  padding:.7rem 0;
  text-transform: uppercase;
}

.content {
  padding: 0 0 5rem 15rem;
  background:#fff;
}
.content article:first-child{
  margin-top:2.5rem;
}
.content article:last-child{
  margin-bottom: 0;
}
.content article{
  padding:0 2rem 0;
  border-left:6px solid rgba(74, 74, 74, 0.075);
  border-bottom: 1px solid rgba(74,74,74, 0.075);
  margin-bottom: 4rem;
  padding: 0.5rem 2rem 1.8rem 2rem;
}
.content article h3{
  text-transform: uppercase;
}
.content article h3{
  margin:0 0 1rem 0;
}
.content article h4{
  margin:2rem 0 0.7rem;
}
.content article p{
  margin:0;
  line-height: 2;
}
.xp h4:first-of-type{
  margin-top:2.5rem;
}
.xp span{
  font-style: italic;
  margin:0.2rem 0 0.2rem 1.5rem;
  display: inline-block;
  font-size:0.9rem;
}
article.xp p{
  margin-left:1.5rem;
}
.skills ul{
  list-style-type: none;
  float: left;
  margin:0;
}
.skills li{
  margin:20px 0;
}
.skills span{
  font-weight: bold;
}
article.education h4{
  margin-bottom: 0  ;
}
.top {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  display: block;
}
.contact ul{
  list-style: none;
  margin-top:2rem;
}
.contact li{
  margin:20px 0;
}
.ico_talk{
  margin-right: 10px;
}
footer {
  text-align: center;
  background:rgb(241, 241, 241);
  padding:0.1rem;
  border-top: 1px solid rgba(74,74,74,0.075);
}

/* =========================== QUERIES =========================== */

@media screen and (max-width:768px) {

  nav{
    width: 100%;
    float: none;
  }
  .menu {
    padding:0;
  }
  header{
    border-bottom: none;
  }
  .menu li {
    border-top:1px solid rgba(74, 74, 74, 0.075);
    padding:0 0 0 15px;
  }
  .menu li:last-child {
    border-bottom:1px solid rgba(74, 74, 74, 0.075);
  }
  .menu li a {
    padding:1rem;
    display: block;
    text-align:left;
    text-decoration:none;
  }
  .content {
    padding:0 1rem;
  }
  .content:before{
    box-shadow: none;
    width: auto;
  }
  .content article{
    border-left:none;
    margin-bottom: 1rem;
  }
  .content article:first-child{
    margin-top:1rem;
  }
  .hidden-xs {
    display: none;
  }
}
