	@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Open+Sans|Roboto+Condensed');


	body {
		margin:0;
		padding:0;
	}



	.logo {
		width:65%;
		/*text-align: center;
*/		margin:auto;
		padding-top:2rem;

	}



	.menu{
		/*background-color: #945D60;*/
	/*	background-color: #626e60;*/
		background-color: white;
	/*	padding-left:1rem;*/

	

	}



	nav a:hover {
		color:red;

	}


	.search {
		text-align: center;
		padding-bottom: 2rem;

	}

	.search input  {
		font-family: 'Roboto Condensed', helvetica, sans-serif;
		border:.5px solid black;
		text-align: center;
	}






	ul.menu {
		padding-left: 2.5rem;

	}

	.menu li a {
		color:#626e60;
	}

	.list li,li a {
		padding-bottom:10px;
	}

	.menu li,li a {
		float:left;
		width:20%;
		list-style-type: none;
		text-align: center;
		
		text-decoration: none;
		color:white;
		font-family: "Abril Fatface", helvetica, sans-serif;

	}

	li,li a {
		float:left;
		width:25%;
		list-style-type: none;
		text-align: center;
		
		text-decoration: none;
		color:white;
		font-family: "Abril Fatface", helvetica, sans-serif;
		font-size: 14px;
		letter-spacing: .3px

	}



	.top {
		background-image:url(ramen.jpg);
	    background-repeat:no-repeat;
	    background-size:100% 100%;	

	}

	.top h1 {
		text-align: center;
		font-family: "Abril Fatface",helvetica, sans-serif;;
		font-size: 20px;
		margin-top: .2rem;
		margin-bottom:1rem;

	}

	.top a {
		color:black;
		text-decoration: none;
	}




	h3 {
		font-family: "Abril Fatface",helvetica, sans-serif;;
		text-align:center;
		margin: .2rem 0 .2rem 0;
		
		letter-spacing: .4px
	}


	.story {
		padding-top:20px;/*
		background-color: #626e60;
		background-color: #945D60*/
		border-top:0.5px solid black;
	}


	.story-text, .blurb, .topblurb {
		font-family: "Open Sans" ,helvetica, sans-serif;;
		text-align:center;

	}

	.topblurb, .blurb {
		padding: 0 10px 0 10px;
		font-size: 14px;
		margin-top:1px;

	}



	.story-image {
		max-width: 90%;
		margin:auto;
		padding:0;
	}






		.recipes h1 {
		text-align: center;
		font-family: "Abril Fatface",helvetica, sans-serif;;
		font-size: 30px;
		margin-top: .2rem;
		margin-bottom:1rem;
		border-top: 1px solid black;
		border-bottom:1px solid black;

	}




		footer {
			background-color: #3c3c3c;
			padding-top: 25px;
			/*padding-bottom: 15px;*/
			margin:auto;
		}

		footer li {

			list-style: none;
			text-decoration: none;
			color: white;

		}

		.bottomlogo, .bottomlogo img {
			max-width: 20px;
			text-align: center
		}

	/*==========media queries=================*/

	@media screen and (min-width: 600px) {

			.logo{
			margin:auto;
			width: 60%;
			text-align:center;
			padding-right: 20px;
			
		}




		}

	@media screen and (min-width: 700px ) {

		.wrapper  {
		margin:0 7rem 0 7rem;
	}


		.top {
			margin:auto;
		}

		h1.mainstory {
			font-size:50px;
		}

		.logo{
			margin:auto;
			max-width: 100%;
			text-align:center;
			padding-right: 20px;
			/*margin-bottom:2rem;*/
		}
		.list li a{
			font-size: 20px
		}
		.list nav ul {
			display: inline-block;
		}

		.story {
			border:none;
			float:left;
			width:50%;
			margin:auto;
			/*padding-left: 10px*/
		}



		.topblurb {
			font-size: 20px
		}


		.blurb {
			font-size: 12px
		}
		
		nav.menu {
			padding-top: 1rem

		}

		ul.menu{
			padding-left:5rem;
			margin:auto;
		}

		.menu li a {
		
		font-size: 18px;
		
		}

		li a {
			float:left;
			padding:0 10px 0 10px;
			

		}
		.menu ul {
			/*display: inline-block;*/
			/*margin:0;*/
			width:65%;

		}

		.list  ul {
			text-align: center;
			width: 90%;
		}
		.list li a{
			text-align:center;
			margin:auto;
			width:100%;
			padding-bottom: 1rem

		}
		.herb {
			margin:0;

		}

		footer {
			clear:both;
		}
		.halfstory {
			display:inline-block;
			text-align:center;
			margin:auto;
			float:left;
			width:33.33%;
			
		}





	}

/*=============================end of index==================================*/







/*=================start of story=====================*/
.article{
	font-family: "Open Sans", helvetica, sans-serif;
	font-size: 14px;
	line-height: 20px;
	border:none;
	margin:2rem;
	/*padding:2rem 2rem;*/
	width:80%;
	text-align:justify;
	padding-right: .2rem
}



h2 {
	text-align: left;
	font-family: "Abril Fatface",helvetica, sans-serif;;
	font-size: 30px;
	padding-left: 2rem

}

.articleimage img {
	margin:auto;
	width:80%;
	padding-left: 2rem
	
}


.articleh3 {
	font-family: "Open Sans", helvetica, sans-serif;
	font-size: 10px;
	text-align:left;
	padding-left:2rem;

}

/*=============story media queries====================*/


 @media screen and (min-width: 700px) {

	
.fullstory  {
	width:80%;
	margin:auto;
	padding-left: 3rem;
}


.article{
	font-family: "Open Sans", helvetica, sans-serif;
	font-size: 18px;
	line-height: 24px;
	padding-left: 1rem;

	
}

h2 {
	text-align: left;
	font-family: "Abril Fatface",helvetica, sans-serif;;
	font-size: 30px;


}

.articleimage img {
	margin:auto;
	width:80%;
	
	
}


.articleh3 {
	font-family: "Open Sans", helvetica, sans-serif;
	font-size:14px;
	text-align:left;
	}

}


 @media screen and (min-width: 1200px) {

 	.fullstory {
 		margin:auto;
 		width:70%;
 		padding-left: 5rem
 	}


	.article{
	font-family: "Open Sans", helvetica, sans-serif;
	font-size: 20px;
	line-height: 28px;

	
}



 }






/*================end of story===========================*/


/*===========start of sources====================*/


 @media screen and (min-width: 700px) {
.wrappersource {
	margin:0 10rem 0 10rem;

}	

.newherb {
	padding-left: 10rem;
	max-width: 65%;
}


}





/*==================start of contact==============*/


.container input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical;
    font-family:"Roboto Condensed",sans-serif;
}


.container input[type=submit] {
	float:right;
    background-color: #626e60;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family:"Roboto Condensed",sans-serif;
    margin-top: .5rem;
    

  
}

.container input[type=submit]:hover {
    background-color: #45a049;
   
}

.container textarea {
	font-family:"Roboto Condensed",sans-serif;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;

}
/*============contact media queries===========*/

@media screen and (min-width: 700px ) {

.contactwrapper {
	margin-right:10rem;
	margin-left:10rem;
	
}	

.menu {
	padding-bottom: 1rem;
}

.container {
	margin:auto;
	max-width: 70%;
	margin-bottom:1rem;
}


}



/*===================end of contact====================*/


/*===========start of 404 page==================*/


.missinglink {
	font-family: "Abril Fatface", helvetica,sans-serif;
	text-align: center;
	border-top:1px solid black;
	margin:3rem 3rem;

}

.missingblurb p {
	font-family: "Open Sans", helvetica, sans-serif;
	font-size: 10px;
	margin:auto;

}



@media screen and (min-width: 700px ) {

.missinglink {
	font-family: "Abril Fatface", helvetica,sans-serif;
	text-align: center;
	border-top:1px solid black;
	margin-right:10rem;
	margin-left:10rem;
	font-size: 32px;


}



.missingblurb p {
	font-family: "Open Sans", helvetica, sans-serif;
	font-size:24px;
	margin:auto;

}

}


/*========end of 404========================*/


/*==========start of thank you===================*/

@media screen and (min-width: 700px ) {
.thankswrapper {
	margin: 0 12rem 0 12rem;

}


}

	/*------------------------------------*/


	img {
		max-width: 100%;
		height: auto;
	}
	 

	.cf:before,
	.cf:after {
	    content: " "; /* 1 */
	    display: table; /* 2 */
	}
	 
	.cf:after {
	    clear: both;
	}

