


body  {
  margin: 0;
}

img {
  max-width: 100%;
  margin-bottom: 0;
  margin-top: 2rem;
}

article {
  margin-right: 2rem;
  margin-left: 2rem;
  margin-bottom: 3rem;
  margin-top: 1rem;
  text-align: center;
}


h1 {
  font-family: 'myanmar mn', 'didot', 'baskerville', serif;
  font-weight: 200;
  font-size: 4rem;
  text-align: center;
  margin-bottom: 0;
}

h2 {
  font-family: 'myanmar mn', 'didot', 'baskerville', serif;
  font-weight: lighter;
  font-size: 1.3rem;
  text-align: center;
  margin-top: -.5rem;
}

nav ul {
  list-style-type: none;
  padding-left: 0;
}

nav li {
  display: inline-block;
  text-align: center;
  padding: .3rem;
}

nav a {
  text-decoration: none;
  color: black;
  font-family: 'myanmar mn', 'didot', 'baskerville', serif;
  font-size: .9rem;
  text-transform: lowercase;
}


h3 {
  text-align: center;
  font-family: 'myanmar mn', 'didot', 'baskerville', serif;
  font-size: 1.8rem;
  line-height: 2.4rem;
  font-weight: bold;
  text-transform: lowercase;
  margin-top: 2rem;
  margin-bottom: 1.2rem;
}


h4 {
  text-align: center;
  font-family: 'myanmar mn', 'didot', 'baskerville', serif;
  font-size: 1.2rem;
  font-weight: lighter;
  margin-top: 3rem;
  margin-bottom: .5rem;
}

footer {
  background-color: lightgrey;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

header a {
  text-decoration: none;
  color: black;
}


/* CLASSES ================ */


.helpful-links ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 2rem;
}

.helpful-links a {
  text-decoration: underline;
  color: black;
  font-family: 'myanmar mn', 'didot', 'baskerville', serif;
  font-size: 1.1rem;
  text-transform: lowercase;
}

.helpful-links li {
    text-align: center;
    padding-bottom: .3rem;
}

.helpful-links a:hover {
  background-color: hsl(3,50%,90%);
  text-decoration: line-through;
  text-decoration-color: black;
}

.contact-section {
  margin-bottom: 2rem;
}

.menu {
  margin-left: 3rem;
  margin-right: 3rem;
  text-align: center;
}

.menu-1 {
  padding-top: 1rem;
  padding-bottom: 0;
  margin-bottom: 2rem;
}

.menu-1 a:hover {
  background-color: hsl(3,50%,90%);
  text-decoration: line-through;
  text-decoration-color: black;
}

.menu-social-search a {
  font-size: 1.2rem;
}

.contact-menu a {
  text-decoration: underline;
  color: black;
  font-family: 'helvetica', sans-serif;
  font-size: .8rem;
}

.contact-menu  li {
  display: inline-block;
  padding-left: .8rem;
}

.contact-menu ul {
  text-align: right;
  margin-right: 1rem;
}

.footer-text {
  text-align: center;
  margin-top: 2.5rem;
  font-family: 'myanmar mn', 'didot', 'baskerville', serif;
  font-size: .8rem;
}

.visually-hidden { /* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
    position: absolute !important;
    height: 1px; width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}


@media screen and (min-width: 700px) {

  img {
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
  }

  article {
      margin-right: 4rem;
      margin-left: 4rem;
  }

  h3 {
    font-size: 2.3rem;
    line-height: 3rem;
  }

}



@media screen and (min-width: 1050px) {

  img {
    max-width: 70%;
    }

  h3 {
    font-size: 2.5rem;
    line-height: 3rem;
    margin-right: 13rem;
    margin-left: 13rem;
  }

@media screen and (min-width: 1700px) {
  img {
    max-width: 60%;
  }

    h3 {

      margin-right: 20rem;
      margin-left: 20rem;
    }

}
