/*TYPOGRAPHY
======================================================*/
@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,900,900i|Open+Sans+Condensed:300,300i,700|Roboto+Condensed:300,300i,400,400i,700,700i');

html{
	font-size: 16px;}

nav{
	font-family: "Open Sans Condensed", "Arial Black", sans-serif;
	text-transform: uppercase;
	font-weight: 700;
}
article h3{
	font-family: "Roboto Condensed",sans-serif;
	font-size: 1.5rem;
	font-weight: 700;
}

article p{
	font-family: "Lato", Helvetica, Arial, sans-serif;
	font-weight: 400;
	line-height: 1.5;
	font-size: 1.1rem;

}

/*GENERAL LAYOUT
=====================================================*/

body{
	background-color: #FFFAFA;
}

article{
	padding-bottom: 1rem;
	padding-top: 2rem;
}

article div{
	padding-bottom: 1rem;
}

footer{
	background-color: #7C0565;
	line-height: 2rem;
	padding: 1%;
}

.footer_img{
	padding-top: 10px;
}

article label{
	width: 100px;
	text-align: right;
	display: inline-block;
	color: black;
}

.input{
	width: 200px;
}

textarea{
	vertical-align: top;
	height: 100px;
	width: 250px;
	box-sizing: border-box;
}

.form_contact{
	margin: 0 auto;
	line-height: 35px;
	margin-bottom: 3%;
}

/*MENUS
=====================================================*/
header li{
	display: inline;
}

header a,
article a,
footer a{
	text-decoration: none;
	color: black;
}
	
section{
	background-color: #7C0565;
	line-height: 3rem;
}

section li{
	display: inline;
}

section a,
form,
footer a{
	text-decoration: none;
	color: white;
}

button{
	background-color: black;
	color: white;
	text-transform: uppercase;
	text-align: center;
	font-size: .7rem;
	margin-left: 103px;
}

.search-box{
	float: right;
	padding-left: 15px;
}

.menu-symbol{
	margin: 0;
}

/*IMAGES
=====================================================*/

img{
	max-width: 100%;
	height: auto;
}


/*CLEARFIX AND VISUAL HIDDEN
======================================================*/
.clearfix:before,
.clearfix:after {
    content: " "; 
    display: table; 
}

.clearfix:after {
    clear: both;
}


.visually-hidden { /*https://developer.yahoo.com/blogs/ydn/clip-hidden-content-better-accessibility-53456.html*/
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding:0 !important;
    border:0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}
body:hover .visually-hidden a, body:hover .visually-hidden input, body:hover .visually-hidden button { display: none !important; }


/*MEDIA QUERIES
=========================================================*/



@media screen and (max-width: 900px) {

	header{
		text-align: center;
	}

	.search_form{
		display: none;
	}

	article{
		border-bottom: none;
		text-align: center;
		padding-top: 1rem;
		padding-bottom: 1.5rem;
	}

	article h1{
		font-size: 1rem;
	}
	article p,
	img,
	ul{
		width: 80%;
		padding-left: 10%;
		padding-right: 10%;
	}

	article label{
		width: 50px;
		display: inline;
	}

	footer{
		line-height: 1rem;
		text-align: center;
		font-size: .75rem;
	}

	button{
		font-size: .5rem;
	}

	footer ul{
		list-style-type: none;
	}

	.footer_img{
		width: 50%;
		padding-left: 23%;
	}

	.footer_menu_r{
		float: right;
	}

	.footer_menu_l{
		float: left;
	}

	.foot_menu_disp{
		display: inline;
	}
	.footer_ul_l{
		width: 15%;
	}


	.input{
		width: 150px;
	}


	.form_contact{
		width: 80%;
	}

	textarea{
	width: 175px;
	}
}

@media screen and (max-width:430px){
    nav {
        font-size: 3.7vw;
    }

    textarea{
	width: 155px;
	}
}
