
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i|Open+Sans|Oswald:400,700');

* {
  box-sizing: border-box;

}
img {
  max-width: 100%;
  height: auto;
}
.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}
.clearfix:after {
  clear: both;
}
body{
  font-family: "Open Sans", sans-serif;
  color:#333;
  font-size: 1rem;
}

a{
  text-decoration: none;
  color:#333;
  transition: .2s all ease-out;
}
a:hover{
  color:#d64933;
}
h2, h3{
  font-family: "Montserrat", sans-serif;
}
h2{
  margin:2rem 0;
  text-transform: uppercase;
}

h3{
  font-size: 1.5rem;
  margin:0;
}
.left{
  float: left;
}
.right{
  float: right;
}
main{
  background: #fff;
}
.wrapper{
  max-width: 960px;
  margin:1.5rem auto;
  transition: .2s all ease-out;
}
.banner{
  /*background: url("../images/_banner.jpg") no-repeat 50% 150% fixed;*/
  transition: .2s all ease-out;
}
.banner:before{
  /* background from Hero Patterns - http://www.heropatterns.com/ */
  background: url("../images/skulls.svg") #f5f5f5 repeat ;
  content : "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  opacity : 0.03;
  z-index: -1;
}
.social{
  width: 20%;
  line-height: 9;
}
.social a{
  margin-right: 10px;
}
.logo{
  margin:0 auto;
  float: left;
  width: 60%;
  text-align: center;
}
.logo h1{
  margin: 0;
}
.logo img{
  width: 200px;
}
.search{
  width:20%;
  font-size: .8rem;

}
.search-wrapper{
  position: relative;
  line-height: 10;
}
.search form{
  float: right;
  width: 100%
}
.search input{
  padding-left:1.5rem;
  border-radius: 4px;
  border:1px solid #ccc;
  line-height: 1.5rem;
  font-family: "Oswald", sans-serif;
  width: 100%;
}
.search i{
  position: absolute;
  left:5px;
  top:45%;
  color:#ccc;
}
nav{
  font-family: "Oswald", sans-serif;
  background: #fff;
  font-size: 1.1rem;
  text-align: center;
  width: 100%;
  clear: both;
  border:1px solid #e8e8e8;
  border-left:none;
  border-right: none;
  text-transform: uppercase;
  box-shadow:0px 1px 10px rgba(51,51,51,.2);
  position: relative;
  z-index: 9999;;
}
.menu{
  list-style-type: none;
  display: inline-block;
  margin:0;
  padding: 0;
}
.menu li{
  margin: 3rem;
  width: 20%;
  display: inline;
  line-height: 3.5rem;
  position: relative;
}
.menu .submenu{
  display: none;

}
.menu .submenu li{
  margin:0;
  padding:0;
  width: 100%;
  display: block;
}

.menu li:nth-child(3):hover .submenu{
  display: block;
  position: absolute;
  left: -40px;
  background: #fff;
  box-shadow: 1px 1px 1px rgba(204,204,204,.7);
  z-index: 999;
  top:26px;
  margin:0;
  padding:0;
  text-align: center;
  width: 150px;
}
/*==============================index==============================*/

.week{
  width: 100%;
  padding:1.5rem 2rem;
  border-bottom: 1px solid #ccc;
  background: #f8f8f8;
}
.week h2{
  text-align: center;
  font-size: 2rem;
}
.dest{
  width: 30.45%;
  float: left;
  position: relative;
  text-align: center;
  margin:0 1rem;
  transition: .2s all ease-out;
  height: auto;
}
.dest a:hover{
  color:#333;
}
.dest .dest-title{
  position: absolute;
  top:50%;
  left:50%;
  transform:translateX(-50%) translatey(-50%);
  transition: .2s all ease-out;
  opacity: 0;

}
.dest-title h3{
  position: relative;
  z-index: 9;
  line-height: 2;
}
.dest .dest-title:after{
  content: "";
  background:rgba(255,255,255,.7);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;

}
.dest:hover .dest-title{
  opacity: 1;
}
.dest:hover img{
  opacity: .8;
}
.news{
  max-width: 980px;
  margin: 2.5rem auto 3.5rem;
  text-align: center;
}
.news-article{
  width: 100%;
  position: relative;
  margin:1rem 0;
  padding-bottom: 3rem;
}
.news-article:last-child{
  padding-bottom: 0;
}
.news-article:after{
  background: linear-gradient(to right, rgba(204, 204, 204, 0), rgba(204, 204, 204, 0.75), rgba(204, 204, 204, 0));
  width: 100%;
  height: 1px;
  position: relative;
  top:2rem;
}
.news-article:last-child:after{
  background: none;
}
.news-img{
  float: left;
  width: 50%;
}
.date{
  color:#777;
  font-style: italic;
  font-size: .8rem;
  margin:1.5rem 0;
}
.date i{
  margin-right: 5px;
}
.news-txt{
  width: 50%;
  float: left;
  padding-top:4rem;
}
.news-txt p:not(.date){
  line-height: 1.5;
  margin:1rem 0 2rem 0;
}
.button{
  background: #2b303a;
  color:#fff;
  font-family: "Oswald", sans-serif;
  border:none;
  padding: 1rem 1.5rem;
  cursor: pointer;
}
.button:hover{
  background: #475060;
}
footer{
  text-align: center;
  position: relative;
  background: #333;
  padding:1rem 0;
}
footer a{
  color:#fff;
}
footer nav{
  border: none;
  box-shadow: none;
  background: transparent;
}
footer p{
  color:#fff;
  font-size: .7rem;
}
footer .social{
  width: 100%;
  line-height: 3;
}
footer .social a{
  margin:0 1%;
}
.anchor-top{
  position: absolute;
  right: 30px;
  bottom: 35px;
  z-index: 99;
  color:#fff;
  line-height: 6;
}

/*==============================story==============================*/
.story{
  width: 100%;
  padding-top:2rem;
}
.story h2,
.story h3{
  text-align: center;
}
.story h2{
  font-size: 2rem;
  margin-top:0;
}
.story-article{
  max-width:980px;
  margin:0 auto;
}
.story-txt{
  width: 70%;
  margin-bottom:3rem;
  line-height: 1.5;
  padding:0 2rem 0 1rem;
  float: left;
}
.story-related{
  width: 30%;
  float: left;
  padding-top:3rem;
}
.story-img{
  background: url("../images/amon.jpg") no-repeat fixed center center;
  height: 300px;
  background-size: cover;
  transition: .2s all ease-out;
  margin-bottom: 2rem;
}
.story-news{
  width: 100%;
  float: left;
  margin:0 0 15px 0;
  display: block;
  border-bottom: 1px solid #ccc;
  padding-bottom: 1rem;
}
.story-related h3{
  margin-bottom: 1rem;
}
.story-news:last-of-type{
  border-bottom: none;
}
.story-news img {
  float: left;
  width:50%;
}
.story-news p{
  float: left;
  margin:10px 0;
  width:46%;
}
.story-news img{
  margin:10px 4% 0 0;
}
/*==============================404==============================*/
.notfound{
  width: 100%;
}
.notfound h2,
.notfound h3{
  text-align: center;
}
.notfound h2{
  font-size: 2rem;
}
.notfound h3.quote{
  font-style: italic;
}
.notfound h3.author{
  font-style: italic;
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 2rem;
}
.notfound-txt{
  max-width: 700px;
  margin:0 auto 3rem;
  line-height: 1.5;
  padding:0 1rem;
  font-size: 1.5rem;
  text-align: center
}
.notfound-img{
  background: url("../images/404.jpg") no-repeat center center;
  height: 300px;
  background-size: cover;
  transition: .2s all ease-out;
  width: 100%;
}
.notfound-img{
  text-align: center;
}
.notfound-img img{
  width: 800px;
}
.notfound .search{
  width: 100%;
  font-size: 2rem;
  margin-bottom: 2rem;
}
.notfound .search-wrapper{
  line-height: 3;
}
.notfound .search input{
  padding-left: 3rem;
}
.notfound .search i{
  top:33%;
}

/*==============================form==============================*/
.contact{
  width: 100%;
}

.contact h2{
  font-size: 2rem;
  text-align: center;
}
.contact-txt{
  max-width: 700px;
  margin:0 auto 3rem;
  line-height: 1.5;
  padding:0 1rem;
}
.form-group{
  margin-bottom: 15px;
}
.form-group label{
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}
.form-group input,
.form-group textarea{
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.form-group textarea{
  min-height: 100px;
}
.contact .button{
  display: block;
  margin:0 auto;
}
/*==============================sources==============================*/
.sources{
  max-width: 980px;
  width: 980px;
  margin:0 auto;
}
.sources h2{
  text-align: center;
}
.sources-txt{
  float: left;
  width: 33.33%;
  height: auto;
  min-height: 300px;
  text-align: center;
  padding:0 1rem;
}
.sources-txt h3{
  margin-bottom: 1rem;
}
.sources ul{
  list-style-type: none;
  margin:0;
  padding: 0;
}
.sources ul li{
  margin:1rem 0;
}


/*==============================query==============================*/
@media screen and (max-width:772px) {
.banner:before{
  height: 300px;
}
  .week{
    padding: 0;
  }
  .dest{
    width: 100%;
    margin:0;
  }
  .news-article{
    padding:0 1rem;
    margin: 0;
  }
  .news-img{
    width: 100%;
    float: left;
  }
  .news-txt{
    width: 100%;
    float: left;
    position: relative;
    top:0;
    transform: none;
  }
  .search input{
    width: 100%;
    padding-left: 0;
  }
  .search i{
    top:37%;
  }
  .menu{
    width: 100%;
  }
  .menu li{
    margin:2%;
  }
  .wrapper{
    margin:1rem;
  }
  .social{
    width: 100%;
    text-align: center;
    line-height: 3;
  }
  .social a{
    margin:20px;
  }
  .logo{
    width: 100%;
    padding:1rem 0;
  }
  .search{
    width: 100%;
    clear: both;
  }
  .search-wrapper{
    line-height: inherit;
  }
  .search input{
    text-align: center;
    line-height: 2;
    font-size: 1rem;
  }
  .dest{
    margin-bottom: 1rem;
  }
  .news-txt{
    padding:1rem;
  }
  .news-article{
    margin-bottom: 2.5rem;
  }
  .news-article:after{
    top:.3rem;
  }
  footer{
    padding-bottom: 3rem;
  }
  .anchor-top{
    position: relative;
    bottom: -20px;
    right: 0;
  line-height: 1;
  }
  .story-img{
    height: 150px;
  }
  .notfound-img{
    height: 120px;
  }
  .notfound .search input{
    padding-left: 3rem;
  }
  .notfound .search i{
    top:43%;
    font-size:1.5rem;
  }
  .sources{
    width: 100%;
  }
  .sources-txt{
    width: 50%
  }
  .story-txt{
    width: 100%;
    float: none;
  }
  .story-related{
    padding-top:0;
    width:85%;
    margin:0 auto;
    float: none;
  }
  .story-news img{
    max-width: 30%;
  }
  .dest .dest-title{
    opacity: 1;
  }
}
@media screen and (min-width:772px) and (max-width:1200px) {
.banner:before{
  height: 180px;
}
  .wrapper{
    margin:1rem auto;
  }
  .dest{
    width: 31.8%;
    margin: 5px;
  }
  .dest .dest-title{
    opacity: 1;
  }
  .news-txt{
    padding:20px 0 0 20px;
  }
  .news-article:after{
    top:1rem;
  }
  .news-article{
    padding:0 20px 20px;
  }
  .search input{
    width: 100%;
  }
  .story-img{
    height: 150px;
  }
  .notfound-img{
    height: 200px;
  }
  .sources{
    width: 100%;
  }
  .sources-txt{
    width: 50%
  }
  .story-related{
    padding-right: 1rem;
  }
  footer .menu{
    width: 100%;
  }
  footer .social{

  }
}
/**{
outline:1px solid red;
}
*/
