@import url('https://fonts.googleapis.com/css?family=Nunito:400,600|Pavanam|Raleway:400,500');


body {
   max-width: 1400px;
   font-family: sans-serif;
   
}

h1 {
  color: #ec657d;
  font-size: 2.5rem;
}

h1, h2, h3 {
   
   font-family: 'Nunito', sans-serif;
}


main {
  text-align: center;
  
}

a {
	text-decoration: none;
  color: black;
   cursor: pointer; 
}

.logo{
  width: 70%;
  float: left;
  padding-left: -10px;
}

header .menu-icon a {
  padding-right: 13px;
  width: 40px;
  height: auto;
  font-size: 1.6rem;

} 

.search {
  margin: 10px 0 50px;
  font-size: 14px;
  
}
.doggy {
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  
}
.doggy img {
  width: 90%;
  height: auto;
  border-radius: 50%;


}





@media screen and (max-width: 710px){
  body {
    width: 90%;
    text-align: center;
    
  }


  header .menu-icon, .search{
  width: 100%;
    
}

.logo {
  width: 100%;
  margin: 40px auto;
}


